venvs/*
model/*
source/.idea
source/.ipynb_checkpoints

data/merkel_podcast_corpus/*
!data/merkel_podcast_corpus/video_vectors/
data/merkel_podcast_corpus/video_vectors/*
!data/merkel_podcast_corpus/video_vectors/OpenFaced/
data/merkel_podcast_corpus/video_vectors/OpenFaced/*
!data/merkel_podcast_corpus/video_vectors/OpenFaced/openface_features.pkl
!data/merkel_podcast_corpus/video_vectors/OpenFaced/video_embedding.pkl
!data/merkel_podcast_corpus/video_vectors/VideoCLIP/
data/merkel_podcast_corpus/video_vectors/VideoCLIP/*
!data/merkel_podcast_corpus/video_vectors/VideoCLIP/clip_video_embedding.pkl
!data/merkel_podcast_corpus/annotations/

potato/*
!potato/speaker_changes/
potato/speaker_changes/data/*
potato/speaker_changes/user_config.json

